/* src/styles/global.css */
:root {
  --color-primary: #0fb9b1; /* أخضر بحري */
  --color-secondary: #10ac84; /* أخضر أغمق */
  --color-background: #f0f8ff; /* لون الخلفية الفاتحة */
  --color-text: #222; /* النصوص الغامقة */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Tajawal', sans-serif;
}

a {
  color: var(--color-primary);
  transition: 0.2s;
}

a:hover {
  color: var(--color-secondary);
}

button {
  background-color: var(--color-primary);
  color: white;
  transition: 0.3s;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: var(--color-secondary);
}
